@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap');

* {
    margin: 0; padding: 0;
    font-family: 'Merriweather', serif;
}


body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    

    background: rgb(212, 212, 212);
}

main {
    
    display: flex;
    width: 60vw;
    height: 60vh;
    align-items: center;
}

h1 {

    font-size: 130px;
    display: flex;
    color: rgb(253, 57, 90);
}

#emotional {
    font-weight: 900;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.6rem;
    align-items: center;
    margin-left: 40px;
    
}

input {
    border: none;
    border-radius: 6px;
    padding: 5px;
}

button {
    border: none;
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 6px;
    border-radius: 4px;
    font-weight: 600;
}

button:hover {
    cursor: pointer;
    transition: 1.5s;
    background: white;
}

